body {
  background-image: url("background.jpg");
  background-size:cover ;
}

strong{
  font-weight: bold;
}

question{
  font-size:x-large;
  color: rgb(72, 49, 203);
  background-color: rgba(231, 242, 243, 0.8)
}

div{
  color: rgb(193, 64, 198);
  background-color: rgba(231, 242, 243, 0.8)
}
